{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<h1 style="text-align: center">{{list.title}}</h1>
<a href="{% url 'list_change' id %}" class="btn btn-warning">Change List</a>
<a href="{% url 'list_delete' id %}" class="btn btn-danger" style="float: right;">Delete List</a>
<br>
<br>
<p>{{list.desc}}</p>
{% if tasks %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Created at</th>
        <th scope="col">Action`s</th>
        <th scope="col">State</th>
        <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>

        <td><a href="{% url 'task' id task.id %}">{{ task.title }}</a></td>
        <td>{{ task.created_at|date:"Y-m-d" }}</td>
        <td>
            <span>
            <a href="{% url 'change_task' id task.id %}" class="btn btn-warning">Change</a>
            <a href="{% url 'delete_task' id task.id %}" class="btn btn-danger">Delete</a>
            </span>
        </td>
        <td>
            {% if task.is_done %}
            <p style="color: green">done</p>
            {% else %}
            <p style="color: red">not done</p>
            {% endif %}
        </td>
        <td>{{ task.at_time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>You haven`t added any task for this list yet!</p>
{% endif %}

<a href="{% url 'add_task' id %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
         viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
</a>
{% endblock %}