{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<a href="{% url 'list_delete' id %}" class="btn btn-danger" style="float: right;">Delete</a>
<h1>{{title}}</h1>
{% if tasks %}
<ol>
{% for task in tasks %}
<li>
    <a href="{% url 'task' id task.id %}">{{ task.title }}</a>
    {% if task.is_done %}
    <span style="color: green">Done</span>
    {% else %}
    <span style="color: red">Didn`t done</span>
    {% endif %}
</li>
{% endfor %}
</ol>
{% else %}
<p>You haven`t added any task for this list yet!</p>
{% endif %}
<a href="{% url 'add_task' id %}" class="btn btn-success">Add task</a>
{% endblock %}