{% extends 'base.html' %}

{% block title %}Create New List Of Tasks{% endblock %}

{% block content %}
<h2>Create New List Of Tasks</h2>
<br>

<form method="POST"  action="">
    {% csrf_token %}
    {{ form.user.as_hidden }}
    {{ form.title.label }}:{{ form.title }}
    {{ form.desc.label }}:{{ form.desc }}
    <br>
    <span>Do you want receive notifications for the tasks of this list?  </span>{{form.invite}}
    <br>
    <br>
    <button type="submit" class="btn btn-success">Create</button>

</form>
{% endblock %}