{% extends 'base.html' %}

{% block title %}Create New Task{% endblock %}

{% block content %}
<h2>Create New Task</h2>
<br>

<form method="POST"  action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.list.as_hidden }}
    {{ form.title.label }}{{ form.title }}
    {{ form.at_time.label }}{{ form.at_time }}
    {{ form.desc.label }}{{ form.desc }}
    {{ form.photo.label }}{{ form.photo }}
    <br>
    <button type="submit" class="btn btn-success">Add</button>

</form>
{% endblock %}